{% extends 'web/layout.html.twig' %}

{% block content %}
<div class="container">
   <p>
       Bienvenue sur Yoop !
       <div>
           Créez votre Application Web en un temps presque record ^^
       </div>
   </p>
</div>
{% endblock %}